$cBlack: black;
$cWhite: white;

#new-image {
    width: 100%;
    height: 100%;
    position: relative;
}


.items-sell-main {
    width: 700px;
    position: absolute;
    top: 150px;
    right: 630px;
    background-color: rgba(236, 238, 239, 0.5);
    text-align: center;

    & .item-sub-main {
        width: 400px;
        margin: 0 auto;
    
        & .items-header {
            text-align: center;
        
            & .items-header {
                font-size: 40px;
            }
            & .items-sell-title {
                font-size: 28px;
            }
        }

        & .img-upload {
            & .weight-bold-text {
                font-size: 22px;
                margin-top: 20px;
            }
            
            & .click-upload {

            & p {
                margin-bottom: 0px;
                }
                
                & #item-image {
                    margin: 0 auto;
                    padding: 8px;
                }
            } 
        }
            
        & .new-items {
            & .weight-bold-text {
                font-size: 22px;
            }

            & #item-name {
                width: 100%;
                margin-top: 5px;
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                font-size: 16px;
            }

            & .items-explain {
                & #item-info {
                    width: 100%;
                    height: 150px;
                    margin: 5px 0 10px;
                    padding: 10px 16px 8px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    background: #fff;
                    font-size: 16px;
                }
            }

        }
        & .items-detail{
            & span {
                font-size: 22px;
            }

            & .form {
                width: 211px;
                margin: 0 auto;

                & .weight-bold-text {
                    font-weight: bold;
                    float: left;

                    & span.indispensable {
                        font-size: 12px;
                    }
                }
                & .select-box {
                    width: 211px;
                    height: 40px;
                    margin-top: 5px;
                    padding: 10px 16px 8px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    background: #fff;
                    font-size: 16px;
                }
            }
        }

        & .sell-price {
            
            & .price {
                display: block;
                padding-top: 15px;
                font-weight: bold;
            }

            & .question-text {
                padding: 0 55px 25px;

                & .price-content {
                    width: 300px;
                    border-bottom: 1px solid #ccc;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    & .price-text {
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                    }
                    & .sell-yen {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}


@media (max-width: 1024px) {
    #new-image {
        margin-top: 125px;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .items-sell-main {
        width: 700px;
        position: absolute;
        top: 180px;
        right: 150px;
        background-color: rgba(236, 238, 239, 0.5);
        text-align: center;
    }
}

@media (max-width: 768px) {
    .items-sell-main {
        width: 700px;
        position: absolute;
        top: 180px;
        right: 32px;
        background-color: rgba(236, 238, 239, 0.5);
        text-align: center;
    }
}

@media (max-width: 425px) {
    .items-sell-main {
        width: 410px;
        position: absolute;
        top: 180px;
        right: 10px;
        background-color: rgba(236, 238, 239, 0.5);
        text-align: center;

        & .item-sub-main {
            width: 400px;
            margin: 0 auto;
        
            & .new-items {

                & #item-name {
                    width: 90%;
                    margin-top: 5px;
                    height: 48px;
                    padding: 10px 16px 8px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    background: #fff;
                    font-size: 16px;
                }
    
                & .items-explain {
                    & #item-info {
                        width: 90%;
                        height: 150px;
                        margin: 5px 0 10px;
                        padding: 10px 16px 8px;
                        border-radius: 4px;
                        border: 1px solid #ccc;
                        background: #fff;
                        font-size: 16px;
                    }
                }
    
            }
        }
    }
}

@media (max-width: 375px) {
    .items-sell-main {
        width: 400px;
        position: absolute;
        top: 180px;
        right: -20px;
        background-color: rgba(236, 238, 239, 0.5);
        text-align: center;
    
        & .item-sub-main {
            width: 400px;
            margin: 0 auto;
                
            & .new-items {
    
                & #item-name {
                    width: 70%;
                    margin-top: 5px;
                    height: 48px;
                    padding: 10px 16px 8px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    background: #fff;
                    font-size: 16px;
                }
    
                & .items-explain {
                    & #item-info {
                        width: 70%;
                        height: 150px;
                        margin: 5px 0 10px;
                        padding: 10px 16px 8px;
                        border-radius: 4px;
                        border: 1px solid #ccc;
                        background: #fff;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 324px) {
    .items-sell-main {
        width: 395px;
        position: absolute;
        top: 180px;
        right: -62px;
        background-color: rgba(236, 238, 239, 0.5);
        text-align: center;
    
        & .item-sub-main {
            width: 400px;
            margin: 0 auto;
        
            & .new-items {
                & .weight-bold-text {
                    font-size: 22px;
                }
    
                & #item-name {
                    width: 70%;
                    margin-top: 5px;
                    height: 48px;
                    padding: 10px 16px 8px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    background: #fff;
                    font-size: 16px;
                }
    
                & .items-explain {
                    & #item-info {
                        width: 70%;
                        height: 150px;
                        margin: 5px 0 10px;
                        padding: 10px 16px 8px;
                        border-radius: 4px;
                        border: 1px solid #ccc;
                        background: #fff;
                        font-size: 16px;
                    }
                }
    
            }
        }
    }
}