#new-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.items-sell-main {
  width: 700px;
  position: absolute;
  top: 250px;
  right: 580px;
  background-color: rgba(236, 238, 239, 0.5);
  text-align: center;
}

.items-sell-main .item-sub-main {
  width: 400px;
  margin: 0 auto;
}

.items-sell-main .item-sub-main .items-header {
  text-align: center;
}

.items-sell-main .item-sub-main .items-header .items-header {
  font-size: 40px;
}

.items-sell-main .item-sub-main .items-header .items-sell-title {
  font-size: 28px;
}

.items-sell-main .item-sub-main .img-upload .weight-bold-text {
  font-size: 22px;
  margin-top: 20px;
}

.items-sell-main .item-sub-main .img-upload .click-upload p {
  margin-bottom: 0px;
}

.items-sell-main .item-sub-main .img-upload .click-upload #item-image {
  margin: 0 auto;
  padding: 8px;
}

.items-sell-main .item-sub-main .new-items .weight-bold-text {
  font-size: 22px;
}

.items-sell-main .item-sub-main .new-items #item-name {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
}

.items-sell-main .item-sub-main .new-items .items-explain #item-info {
  width: 100%;
  height: 150px;
  margin: 5px 0 10px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
}

.items-sell-main .item-sub-main .items-detail span {
  font-size: 22px;
}

.items-sell-main .item-sub-main .items-detail .form {
  width: 211px;
  margin: 0 auto;
}

.items-sell-main .item-sub-main .items-detail .form .weight-bold-text {
  font-weight: bold;
  float: left;
}

.items-sell-main .item-sub-main .items-detail .form .weight-bold-text span.indispensable {
  font-size: 12px;
}

.items-sell-main .item-sub-main .items-detail .form .select-box {
  width: 211px;
  height: 40px;
  margin-top: 5px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
}

.items-sell-main .item-sub-main .sell-price .price {
  display: block;
  padding-top: 15px;
  font-weight: bold;
}

.items-sell-main .item-sub-main .sell-price .question-text {
  padding: 0 55px 25px;
}

.items-sell-main .item-sub-main .sell-price .question-text .price-content {
  width: 300px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items-sell-main .item-sub-main .sell-price .question-text .price-content .price-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.items-sell-main .item-sub-main .sell-price .question-text .price-content .sell-yen {
  font-size: 18px;
}
/*# sourceMappingURL=new_edit.css.map */