<header class="sub-header">
  <p class="sub-title">規格外の果物やさん</p>
  <div class="nav-menu">
    <%= link_to "トップページ", root_path, class: "sub-btn" %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "sub-btn" %>
  </div>
</header>